REACT_APP_TESTNET_GENESIS_BLOCK_HASH=[TESTNET_GENESIS_BLOCK_HASH]
REACT_APP_TESTNET_JSON_RPC_URL=[TESTNET_JSON_RPC_URL]
REACT_APP_TESTNET_CCD_SCAN_BASE_URL=[TESTNET_CCD_SCAN_BASE_URL]
REACT_APP_MAINNET_GENESIS_BLOCK_HASH=[MAINNET_GENESIS_BLOCK_HASH]
REACT_APP_MAINNET_JSON_RPC_URL=[MAINNET_JSON_RPC_URL]
REACT_APP_MAINNET_CCD_SCAN_BASE_URL=[MAINNET_CCD_SCAN_BASE_URL]
REACT_APP_WALLET_CONNECT_PROJECT_ID=[WALLET_CONNECT_PROJECT_ID]